* {
    margin: 0;
    box-sizing: border-box;
}#logo-header-image{
    width: 8%;
    margin: 0px;
    border: 0cap;
    vertical-align: middle;
}
#header-container{
    display: flex;
    height:40px;
}
#header-address{
    margin-left: 20PX;
    color: black;
}
#toolbar-header{
  display: flex;
  gap: 0px;
}
#search-icon,#search-box,#search-disabled-button,#logo-header-tool-image{
    height: 30px;
    border: 0cap;
    margin: 5px 0px;
}
#logo-header-tool-image{
    margin-left: 10px;
    
}
#search-icon{
    margin-left: 30px;
    border-top-left-radius: 50%;
    border-bottom-left-radius: 50%;
}
#search-box{
    height: 30px;
    text-align: center;
    vertical-align: middle;
    width: 70%;
}
#search-disabled-button{
    border-top-right-radius: 50%;
    border-bottom-right-radius: 50%;
}
#search-box:focus{
    outline: none;
}