* {
    margin: 0;
    box-sizing: border-box;
}#logo-header-image{
    width: 8%;
    margin: 0px;
    border: 0cap;
    vertical-align: middle;
}
#header-container{
    display: flex;
    vertical-align: middle;
    height:40px;
}
#header-address{
    margin-left: 2%;
    width: 20%;
    color: black;
}
#search-icon,#search-box,#search-disabled-button,#logo-header-tool-image{
    height: 30px;
    border: 0cap;
    margin: 0.45% 0px;
}
#logo-header-tool-image{
    margin-left: 1%;
    vertical-align: middle;
    
}
#toolbar-header{
  display: flex;
  gap: 0px;
  margin-top: 0.35%;
}
#search-icon{
    margin-left: 10%;
    border-top-left-radius: 50%;
    border-bottom-left-radius: 50%;
}
#search-box{
    text-align: center;
    vertical-align: middle;
    width: 100%;
}
#search-disabled-button{
    border-top-right-radius: 50%;
    border-bottom-right-radius: 50%;
}
#search-box:focus{
    outline: none;
}
#languages{
    font-size: larger;
    margin: 0.5% 0px 0px 1%;
    height: 31px;
    border-radius: 20%;
    background-color: hsla(0, 0%, 0%, 0);
    border: 0cap;
}
#languages:focus{
    outline: none;
}
#sign-in,#sign-up{
    margin-left: 5%;
    width: 10%;
    border-radius: 15%;
}