body {
    margin: 0;
    max-width: 100%;

    font-family: "Audiowide", monospace;
}
/* header - section 1 */
#header-top-image{
    width: 8%;
    border: 0cap;
    vertical-align: middle;
}
#header-top-dealer,#header-top-customercare{
    color: black;
    font-weight:500;
    font-size: larger; 
}
/* header - section 2 */
#header-container{
    background-color: #002147;
    color: lightgray;
    display: flex;
    align-items: center;
    position: fixed;
    z-index: 5;
    max-width: 100%; 
}
#header-container-3dot{     
    clear: unset;
    height: 100%; 
    width: 5%;
    font-size: x-large;
    color: lightgrey; 
    background-color: transparent;
}
#header-container-address{
    display: flex;
    margin-left: 2.5%; 
    align-items: center;
}
#header-container-search{
    display: flex;
    gap: 0px;
    height: 65%;
    margin-left: 2.5%;
}
#header-container-search-box{
    border: 0px; 
    width: 585px;
    border-bottom-left-radius: 25px ;
    border-top-left-radius: 25px;
    text-align: center;
}
#header-container-search-box:focus{
    outline: 1px solid gold;
    outline-offset: 2px;
}
#header-container-search-icon{
    border-bottom-right-radius: 25px;
    border-top-right-radius: 25px;
    border: 0;
    font-size: large;
    color: #002147;
    background-color: gold;
    width: 50px;
}
#header-container-lang-selection{
    font-size: large;
    border: 1px solid black;
    margin-left: 2.5%;
    height: 55%; 
    border-radius: 5px;
}
#header-container-lang-selection:focus{
    outline: none;
}
#header-container-cart{
    all: unset;
    margin-left: 2.5%; 
    height: 55%; 
    font-size: x-large;
    color: lightgrey; 
    background-color: transparent;
}
#header-container-login{
    all: unset;
    margin-left: 2.5%; 
    height: 55%; 
    font-size: x-large;
    color: lightgrey; 
    background-color: transparent;
}
/* dicound - div element */
#discount{
    background-color: skyblue; 
    height: 500px; 
    color: black;  
    margin-top: 50px; 
    display: flex; 
    justify-content: center;
    align-items: center; 
    gap: 2.5%;
    max-width: 100%;
    background-image: url(discount-1.jpg); 
    background-size: cover;
}
#discount::before{
    content: "";
    position: absolute;
    top: 100px;
    width: 100%;
    height: 500px;
    backdrop-filter: blur(30px);
}
#discount-img-1{
    position: absolute;
    height: 60% !important;
    width: auto !important;
    z-index: 2;
}
#discount-img-2{
    position: absolute;
    left: 2.5%;
    height: 30% !important;
    width: auto !important;
    z-index: 1;
}
#discount-img-3{
   position: absolute;
    right: 2.5%;
    height: 30% !important;
    width: auto !important;
    z-index: 1;
}
#discount img{
    border: 2px solid black;
}
